# ==============================================================================
# RAWG PIPELINE SPECIFIC RULES
# ==============================================================================

# Ignore scratchpad files
preview_db.py

# Spark output data, warehouses, and logs
projects/rawg_pipeline/data/spark
metastore_db/
derby.log