# --- API & Extraction ---
requests
python-dotenv

# --- Database & Storage ---
duckdb

# --- Transformation (The dbt Stack) ---
dbt-duckdb

# --- Data Processing ---
pandas
pyarrow
pyspark

# --- Presentation & Dashboard ---
streamlit
plotly

# --- Quality & Testing ---
ruff
pytest
pytest-mock
responses